<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home Page</title>
	<link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <!-- HEADER -->
	<%- include('./partials/header.ejs')%>

	<main>
		<form action="/admin/create" method="post" enctype="multipart/form-data">
			<div>
				<label for="name">Nombre de usuario</label>
				<input 
					type="text" 
					id="name" 
					name="username"
					value="<%= (locals.old && old.username ) ? old.username : '' %>"
				>
				<% if( locals.errors && errors.username ){ %>
					<div>
						<i>
							<%= errors.username.msg %>
						</i>
					</div>
				<% } %>

			</div>
			<br>
			<div>
				<label for="avatar">Foto de perfil</label>
				<input type="file" id="avatar" name="avatar" accept=".jpg, .png, .jpeg">

			</div>
			<br>
			<div>
				<label for="email">Email</label>
				<input 
					type="email" 
					id="email" 
					name="email"
					value="<%= (locals.old && old.email ) ? old.email : '' %>"
				>
				<% if( locals.errors && errors.email ){ %>
					<div>
						<i>
							<%= errors.email.msg %>
						</i>
					</div>
				<% } %>
			</div>
			<br>
			<div>
				<label for="password">Password</label>
				<input type="password" id="password" name="password">
				<% if( locals.errors && errors.password ){ %>
					<div>
						<i>
							<%= errors.password.msg %>
						</i>
					</div>
				<% } %>
			</div>
			<br>
			<button type="submit">Registrarse</button>
		</form>

	</main>
</body>
</html>